<div class="row">
  <div class="col-md-12">
    <div style='width: 100%;'>
      <div id="map" style='width: 100%; height: 400px;'></div>  
    </div>
    <div id="markers_list"></div>
    </div>
  </div>


<% if admin_signed_in? %>
<div class="row" style="margin-top: 50px;">
  <div class="col-md-12">
    <table class="table">
    <tbody>
      <% @listings.all.each do |listing| %>
        <tr>
          <td><%= listing.name %></td>
          <td><%= listing.address %></td>
          <td><%= listing.phone %></td>
          <td><%= listing.website %></td>
          
            <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-warning form-control" %></td>
            <td><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger form-control" %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>    
  </div>
</div>
<% end %>

<script>
$(document).ready(function(){
    var raw_markers   = <%=raw @hash.to_json %>;
    var gmaps_markers;

    function createSidebarLi(listing_json) {
      return ("<li><a>" + listing_json.name + "<\/a></li>");
    };

    function bindLiToMarker($li, marker){
      $li.on('click', function(){
        handler.getMap().setZoom(14);
        marker.setMap(handler.getMap()); //because clusterer removes map property from marker
        marker.panTo();
        google.maps.event.trigger(marker.getServiceObject(), 'click');
      })
    };
    
    function createSidebar(listing_json){
      _.each(listing_json, function(json){
        var $li = $( createSidebarLi(json) );
        $li.appendTo('#markers_list');
        bindLiToMarker($li, json.marker);
      });
    };
    
    handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'}}, function(){
      var markers = handler.addMarkers(raw_markers);
    
      _.each(raw_markers, function(json, index){
        var marker = markers[index];
        json.marker = marker;
        google.maps.event.addListener(marker.getServiceObject(), 'mouseover', function(){
          google.maps.event.trigger(marker.getServiceObject(), 'click');
        });
      });
    
      createSidebar(raw_markers);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
  </script>
  